* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  color: #333333;
  font-family: Muli;
}

p {
  font-size: 1.2rem;
  line-height: 150%;
  margin-top: .5rem;
}

h1 {
  font-family: Philosopher;
  font-size: 5.4rem;
  font-weight: bold;
}

h2 {
  color: #306094;
  font-family: Philosopher;
  font-size: 3.6rem;
  font-weight: bold;
}

header {
  background: url(../images/hero-image.jpg) center/cover;
  height: 80rem;;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.topnav {
  background-color: rgba(255, 255, 255);
  height: 7rem;
  padding: 3rem;
}

.hamburger{
  float: right;
}

.logo {
  font-size: 1.8rem;
  font-family: Philosopher;
  font-weight: 300;
  letter-spacing: .3rem;
}

.hero {
  box-sizing:border-box;
  padding:10%;
  color: #E5E5E5;
}

.hero h1 {
  width: 70%;
}

.slogan {
  font-size: 1.8rem;
  margin-top: -2%;
  width: 100%;
}

.btn {
  border: 2px solid #306094;
  border-radius: 5px;
  background-color: white;
  color: #306094;
  font-family: Montserrat;
  padding: 1.5rem 1rem;
  font-size: 1.8rem;
}

.view-work {
  color: #333333;
  font-family: Montserrat;
  font-size: 1.8rem;
  font-weight: 450;
  margin-top: 10rem;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  padding: 7%;
}

.projects::after {
  content: "";
  clear: both;
  display: table;
}

.column p {
  font-size: 1.8rem;
}

.responsive-img {
  float: right;
  height: auto;
  max-width: 500px;
  width: 100%;
}

footer {
  background-color: #C4C4C4;
  height: 30rem;
  padding-top: 5rem;
}

footer p {
  font-family: 'Montserrat';
  font-size: 2.4rem;
  text-align: center;
}


.icons li {
  display: inline-block;
  padding-left: 2rem;
}

.icons {
  text-align: center;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.trademark {
  align-items:center;
  display: flex;
  font-family: Philosopher;
  font-size: 1.4rem;
  height: 5rem;
  padding-left: 5rem;
}

.designed-by {
  padding-left: 1rem;
}

@media screen and (max-width: 720px) {
  .column {
    width: 100%;
  }
}
